<%- include("partials/header") %>

<main>
  <section class="settings-card">
    <label for="settings-toggle" class="mobile-options-btn">
      <img src="images/menu-button.svg" alt="Menu">
    </label>
    <input type="checkbox" id="settings-toggle" hidden>

    <ul class="settings-left-btns">
      <li><a href="index" class="back-button">&larr; TERUG</a></li>
      <li><a href="/profile-settings" class="profile-btn">Profiel</a></li>
      <li><a href="/account-settings" class="account-btn">Account</a></li>
      <li><a href="/logout" class="logout-btn">Uitloggen</a></li>
    </ul>

    <article class="settings-account">
      <button><img src="images/user.png" class="icon" alt=""> Gebruikersnaam wijzigen</button>
      <button><img src="images/key.png" class="icon">Wachtwoord wijzigen</button>
      <button id="accountDeletion"><img src="images/trash.svg" class="icon" alt="">Account
        verwijderen</button>
    </article>
  </section>
</main>

<%- include("partials/footer") %>