<%- include("partials/header") %>

    <main>
        <section class="settings-card">
            <button class="mobile-options-btn" id="optionsBtn"> <img src="images/menu-button.svg" alt=""></button>
            <ul class="settings-left-btns" id="leftBtns">
                <a href="index.html" class="back-button">&larr; TERUG</a>

                <li><button class="profile-btn"><a href="settings-profile.html">Profiel</a></button></li>
                <li><button class="account-btn active"> <a href="settings-account.html">Account</a></button></li>
                <li><button class="logout-btn"> <a href="login.html">Uitloggen</a></button></li>
            </ul>

            <article class="settings-account">
                <button><img src="images/email.png" class="icon" alt=""> E-mailadress wijzigen</button>
                <button><img src="images/key.png" class="icon">Wachtwoord wijzigen</button>
                <button id="accountDeletion"><img src="images/trash.svg" class="icon" alt="">Account
                    verwijderen</button>
            </article>
        </section>
    </main>

    <%- include("partials/footer") %>