<%- include("partials/header") %>

    <main class="blacklist-page-main">
        <h1>Blacklist</h1>
        <article class="all-blacklist-cards">
            <article class="blacklist-card">
                <img src="images/skins/skin-4.jpeg" alt="Blaze Raider" class="skin-image-favorite">
                <h2>Blaze Raider</h2>
                <h3>Reden:</h3>
                <p>Niet genoeg kracht</p>
                <section class="button-container">
                    <button class="edit-button"><a href="add-to-blacklist.html">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </button>
                </section>
            </article>

            <article class="blacklist-card">
                <img src="images/skins/skin-3.jpeg" alt="Blaze Raider" class="skin-image-favorite">
                <h2>Nightfall Hunter</h2>
                <h3>Reden:</h3>
                <p>Te traag</p>
                <section class="button-container">
                    <button class="edit-button"><a href="add-to-blacklist.html">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </button>
                </section>
            </article>
    </main>
  <%- include("partials/footer") %>