<%- include("partials/header") %>

    <main class="game-selection-main" id="game-selection-main">

        <article class="game-selection-header" id="game-selection-header">
            <h1 class="game-selection-title" id="game-selection-title"> Kies je spel</h1>
        </article>

        <section class="game-selection-grid" id="game-selection-grid">
            <a href="/card-game" class="game-option" id="memory-card-option">
                <h2 class="game-option-title"> Memory Card Game</h2>
                <p class="game-option-desc">Zoek gelijke kaarten zo snel mogelijk.</p>
            </a>

            <a href="/clicker-game" class="game-option" id="clicker-game-option">
                <h2 class="game-option-title"> Clicker Game</h2>
                <p class="game-option-desc">Klik op het juiste item, snel!</p>
            </a>
        </section>

    </main>

    <%- include("partials/footer") %>