<%- include('partials/header.ejs') %>
    <main class="info-container">
        <article class="header">
            <a href="index.html" class="back-button">&larr; TERUG</a>
            <h1>INFO</h1>
        </article>
        <section class="content">
            <nav class="menu">
                <ul>
                    <li data-text="How to play"><img id="how-to-play" src="images/items/questions.png"></li>
                    <li><img id="skin-uitleg" src="images/items/skin.png"></li>
                    <li><img id="items-uitleg" src="images/items/item.png"></li>
                    <li><img id="profiel-uitleg" src="images/items/gamer.png"></li>
                </ul>
            </nav>
            <article class="text-content">
            </article>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>