
    <%- include("partials/header") %>
    <main class="card-container">
        <section class="card-section">
            <img src="images/skins/skin-1.jpeg" alt="Skin">
            <article class="card-content">
                <h3>Skull Trooper</h3>
                <p><span id="user-money">5.000 <img src="images/items/coin.png" alt=""></span></p>
                <p><span id="user-level">42 ⭐</span></p>
                <p><span id="user-wins">120 🏆</span></p>
            </article>
        </section>
            <article class="menu-items">
                <ul>
                    <li>
                        <a href="/card-game"><span>SPELEN</span></a>
                        <a href="/card-game"><img src="images/items/console.png" alt="Spelen" title="spelen"></a>
                    </li>
                    <li>
                        <a href="/skins"> <span>SKINS</span></a>
                        <a href="/skins"><img src="images/items/skin-icon.png" alt="Skins" id="skin-icon-home" title="skins"></a>
                    </li>
                    <li>
                        <a href="/items"><span>ITEMS</span></a>
                        <a href="/items"><img src="images/items/rainbow-smash.png" alt="Items" title="items"></a>
                    </li>
                    <li>
                        <a href="/shop"><span>SHOP</span></a>
                        <a href="/shop"><img src="images/items/shop.png" alt="shop" title="shop"></a>
                    </li>
                </ul>
            </article>
    </main>
    <%- include("partials/footer") %>