
<%- include("partials/header") %>

    <main class="main-item-pagina">
        <h1 class="item-pagina-h1">KIES 2 ITEMS VOOR JOUW SKIN</h1>

        <section class="skin-selection-item-pagina">
            <article class="skin-item-pagina">
                <img id="img-item-pagina" src="images/skins/skin-5.jpeg" alt="Dark Voyager Skin">
                <span id="span-item-pagina">dark voyager</span>
            </article>

            <section class="items-item-pagina">
                <% if (items && items.length > 0) { %>
                    <% for (const item of items) { %>
                        <article class="item-item-pagina">
                            <img src="<%= item.images.icon %>" alt="<%= item.name %>">
                        </article>
                    <% } %>
                <% } else { %>
                    <p>Geen items gevonden.</p>
                <% } %>
            </section>
        </section>
    </main>


  <%- include("partials/footer") %>