<%- include("partials/header") %>

    <main>
        <section class="leaderboard-card">
            <button id="friendRequestButton"><img src="images/add.png" width="30px" alt=""></button>
            <ul class="friend-requests" id="friendRequestsMenu">
                <li><img src="images/skins/skin-4.jpeg" width="30px">FnWKeyMast7
                    <button class="accept-request-button"><img src="images/accept-icon.png" width="30px"></button>
                    <button class="decline-request-button"><img src="images/decline-icon.webp" width="30px"></button>
                </li>
                <li><img src="images/skins/skin-3.jpeg" width="30px">FnCrankGod92
                    <button class="accept-request-button"><img src="images/accept-icon.png" width="30px"></button>
                    <button class="decline-request-button"><img src="images/decline-icon.webp" width="30px"></button>
                </li>
            </ul>
            <a href="index.html" class="back-button">&larr; TERUG</a>
            <h1>LEADERBOARD</h1>
            <table class="leaderboard-table">
                <tr>
                    <th>SPELER</th>
                    <th>TIJD</th>
                </tr>
                <tr>
                    <td>#1 <img src="images/skins/skin-4.jpeg" alt=""> <a href="user-profile.html"> <span
                                class="leaderboard-username">
                                Speler 1 </span></a></td>
                    <td>0:39</td>
                </tr>
                <tr>
                    <td>#2 <img src="images/skins/skin-5.jpeg" alt=""> <span class="leaderboard-username">
                            Speler 2 </span></td>
                    <td>0:43</td>
                </tr>
                <tr>
                    <td>#3 <img src="images/skins/skin-3.jpeg" alt=""> <span class="leaderboard-username">
                            Speler 3 </span></td>
                    <td>0:58</td>
                </tr>
                <tr>
                    <td>#4 <img src="images/skins/skin-10.jpg" alt=""> <span class="leaderboard-username">
                            Speler 4 </span></td>
                    <td>1:04</td>
                </tr>
                <tr>
                    <td>#5 <img src="images/skins/skin-6.jpg" alt=""> <span class="leaderboard-username">
                            Speler 5</span></td>
                    <td>1:15</td>
                </tr>
            </table>
        </section>
    </main>

    <%- include("partials/footer") %>