<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Pagina</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/menu.js" defer></script>
</head>

<body id="menuBody">
    <section class="menu-page-container">
        <h2 class="title">Kies een game</h2>
        <section class="menu-cards">
            <article class="game-card">
                <img src="images/Fifa.webp" alt="FIFA">
                <figure class="overlay">
                    <p>Fifa</p>
                    <span class="cross">X</span>
                </figure>
            </article>
            <article class="game-card">
                <img src="images/LOTR.jpeg" alt="Lord Of The Rings">
                <figure class="overlay">
                    <p>Lord Of The Rings</p>
                    <span class="cross">X</span>
                </figure>
            </article>
            <article class="game-card">
                <img src="images/Lego.jpeg" alt="LegoMasters">
                <figure class="overlay">
                    <p>LegoMasters</p>
                    <span class="cross">X</span>
                </figure>
            </article>
            <article class="game-card">
                <a href="/login" class="game-link">
                    <img src="images/Fortnite.jpeg" alt="Fortnite">
                    <figure class="overlay">
                        <p>Fortnite</p>
                    </figure>
                </a>
            </article>
            <article class="game-card">
                <img src="images/Pokemon.jpeg" alt="Pokémon">
                <figure class="overlay">
                    <p>Pokemon</p>
                    <span class="cross">X</span>
                </figure>
            </article>
            <article class="game-card">
                <img src="images/MTG.jpeg" alt="Magic The Gathering">
                <figure class="overlay">
                    <p>Magic The Gathering</p>
                    <span class="cross">X</span>
                </figure>
            </article>
        </section>
    </section>

</body>
