<%- include("partials/header") %>

    <main class="search-item-main">
        <section class="search-items">
            <input type="text" placeholder="Zoek naar items...">
        </section>

        <section class="item-container">
            <article class="item">
                <img src="images/items/Squire_Shield_-_Back_Bling_-_Fortnite.webp" alt="Item 1">
            </article>
            <article class="item">
                <img src="images/items/Scarlet_Scythe_-_Pickaxe_-_Fortnite.webp" alt="Item 2">
            </article>
            <article class="item">
                <img src="images/items/Squire_Shield_-_Back_Bling_-_Fortnite.webp" alt="Item 3">
            </article>
            <article class="item">
                <img src="images/items/Scarlet_Scythe_-_Pickaxe_-_Fortnite.webp" alt="Item 4">
            </article>
            <article class="item">
                <img src="images/items/Squire_Shield_-_Back_Bling_-_Fortnite.webp" alt="Item 5">
            </article>
            <article class="item">
                <img src="images/items/Scarlet_Scythe_-_Pickaxe_-_Fortnite.webp" alt="Item 6">
            </article>
            <article class="item">
                <img src="images/items/Squire_Shield_-_Back_Bling_-_Fortnite.webp" alt="Item 7">
            </article>
            <article class="item">
                <img src="images/items/Scarlet_Scythe_-_Pickaxe_-_Fortnite.webp" alt="Item 8">
            </article>
        </section>
    </main>


   <%- include("partials/footer") %>