<%- include('partials/header') %>

    <section class="shop-section">
        <button type="button" class="shop-button prev-button">&#9664;</button> <!-- Desktop vorige knop -->
        <article class="shop-container"></article> <!-- Hier komt shop items met js -->
        <button type="button" class="shop-button next-button">&#9654;</button> <!-- Desktop volgende knop -->
    
        <!-- Extra knoppen onderaan voor mobiel -->
        <article class="shop-button-container">
            <button type="button" class="shop-button-mobile prev-button">&#9664;</button> 
            <button type="button" class="shop-button-mobile next-button">&#9654;</button> 
        </article>
    </section>

    <%- include('partials/footer') %>