<%- include('partials/header') %>

    <main>
        <section class="user-profile-card">
            <a href="../index" class="back-button">&larr; TERUG</a>
            <article class="user-profile">
                <figure>
                    <img src="<%= profile.skinIconUrl %>" class="user-avatar">
                    <p class="profile-name"><%= profile.name %></p>
                    <button class="user-add-button" id="addUserBtn"><img src="../images/add.png" width="25px">ADD</button>
                </figure>
                <ul>
                    <li>HUIDIGE SKIN: <span class="user-current-skin">BLAZE RAIDER</span></li>
                    <li>WINS: <span class="wins-amount">9</span> LOSSES: <span class="loses-amount">3</span></li>
                    <li>BESTE TIJD: <span class="best-time">0:39</span></data></li>
                </ul>
            </article>
        </section>
    </main>

  <%- include('partials/footer') %>